@use '../globals/fonts';

.second-collection-container {
    margin-top: 3rem;
    min-height: 531px;
    .sc-h3 {
        font-size: 4rem;
        font-family: 'Odin', sans-serif;
        text-align: center;
        margin-bottom: 3rem;
    }
}

.collection-shop-item-filter-container {
    padding: 0 5rem;
    margin: auto;
    display: flex;
    flex: 3 7;
    column-gap: 70px;
    margin-bottom: 2rem;
}