$brownish: hsl(28, 70%, 78%);
$almost-white: hsl(0, 24%, 91%);
$dimmed-yellow: hsl(60, 90%, 45%);
$yellow-brown-mix: hsl(39, 79%, 64%);
$checkout-green: rgb(81, 160, 28);
$reddish: hsl(0, 84%, 63%);

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;