@use '../globals/fonts.scss';
@use '../globals/vars.scss' as *;
@use '../globals/mixins.scss' as *;

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  column-gap: 3rem;
  background-image: url('../../img/oldpaper.jpg');
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: 'Odin', sans-serif;
  .shopping-cart-img {
    width: 36px;
    height: 36px;
    margin-right: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-right: auto;
}

h2 > a {
  @include handleAnchor();
}

.header-a-con > a {
  @include handleAnchor();
  font-size: 2rem;
}