@use '../globals/fonts' as *;
@use '../globals/vars' as *;

.information-container {
    text-align: center;
    background-color: $yellow-brown-mix;
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
}