@use '../globals/fonts';
@use '../globals/vars' as *;

.shoppingitems-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
    cursor: pointer;
}

.shoppingitemslist-container {
    transition: all 0.3s ease-in;
    &:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow;
    }
}

.sil-link {
    text-decoration: none;
    color: inherit;
}

.sil-img {
    width: 300px;
    height: 300px;
}

.sil-span-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.75rem;
    .sil-span-1 {
        font-weight: 600;
    }
    .sil-span-2 {
        margin-left: 1rem;
    }
}

@media (max-width: 1094px) {
    .shoppingitems-container {
        justify-content: center;
    }
}